body {
    background: #fefefe;
    color: #333;
}

.title {
    color: #00487c;
    margin-bottom: 48px;
}

.mainHeader {
    color: #00487c;
    font-size: 30px;
}

.sectionHeader, .diaryHeader {
    color: #1468aa;
}

h3 {
    color: darkgreen;
}

.thirdHeader {
    color: #0496ff;
}

.link {
    color: #1a936f;
    text-decoration: none;
}

.about {
    width: 50vw;
    max-width: 700px;
   
}

.secp {
    
    border: 3px solid #1a936f;
    padding: 16px;
    border-radius: 50px;
    
}

main {
    width: 50vw;
    max-width: 700px;
    margin: 50px auto;
}

