body {
    background: #fefefe;
    color: #333;
}

.title {
    color: #00487c;
}

.mainHeader {
    color: #00487c;
    font-size: 30px;
}

.sectionHeader, .diaryHeader {
    color: #1468aa;
}

h3 {
    color: darkgreen;
}

.thirdHeader {
    color: #0496ff;
}

.link {
    color: #1a936f;
    text-decoration: none;
}